{% extends 'pages/base.jinja' %}
{% block title %}
    Flask Demo - About
{% endblock %}
{% block content %}
    <h1>Sorry, this page doesn't exist!</h1>
    <p>
        <a href="/" roll="button">Go Home</a>
    </p>
{% endblock %}