{% extends 'pages/base.jinja' %}
{% block title %}
    Flask Demo - About
{% endblock %}
{% block content %}
    <h2>Flask</h2>
    <p>Flask is a lightweight WSGI web application framework in Python.</p>
    <h2>Jinja</h2>
    <p>Jinja is a modern and designer-friendly templating language for Python.</p>
{% endblock %}