<!DOCTYPE html>

<html lang="en">
<head>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.zinc.min.css"
>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
<nav>
<ul>
<li>Flask Demo</li>
</ul>
<ul>
<li><a href="{{ url_for('home') }}">Home</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
<li><a href="{{ url_for('random') }}">Random</a></li>
</ul>
</nav>
    {% block content %}{% endblock %}
</body>
</html>