{% extends 'pages/base.jinja' %}
{% block title %}
    Flask Demo - Data from Form
{% endblock %}
{% block content %}
  <h2>You entered the following data:</h2>
  <article>
  <h3>Name</h3>
  {{ name }}
  <h3>Email</h3>
  {{ email }}
  <h3>Age</h3>
  {{ age }}
  </article>
{% endblock %}