{% extends 'pages/base.jinja' %}
{% block title %}
    Flask Demo - Here is your number
{% endblock %}
{% block content %}
  <h2>Here is your number:</h2>
  <article id="number">
    {{ number }}
{% endblock %}