{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - Random Number
{% endblock %}


{% block content %}

    <h2>This number is random</h2>

    <article id="random">
        {{ number }}
    </article>

{% endblock %}